* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


.blender {
    position: fixed;
    left: 45%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 800px;
    height: 400px;
    background-color: white;
    background-image: url("../img/licuadoraApagada.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

}


.blender.active {
    background-image: url("../img/licuadoraEncendida.gif");

}


.blender-button {
    margin: 290px auto 0px;
    width: 60px;
    height: 60px;
    /* background-color: blue; */

}